.header-title{
    line-height: 130%;
    font-family: var(--font-optima);
    font-size: 34px;
    color: var(--color-whitesmoke);
}

.main-container {
    margin: 19px auto 0 auto;
    display: flex;
    justify-content: center; /* horizontally center the div */
    align-items: center; /* vertically center the div */
    overflow: clip;
    transform-origin: top left; /* set the origin of the transformation */
    transform: scale(1); /* set the initial scale */
}

.main-container.zoom-in {
    transform: scale(1.5); /* set the scale to zoom in */
}

.main-container.zoom-out {
    transform: scale(0.5); /* set the scale to zoom out */
}

#canvas-container {
    position: relative;
    width: 822px;
    height: 534px;
    border-radius: 10px;
    margin: 0 19px 0 0;
}

canvas {
    border-radius: 10px;
}

#materialSelect {
    background-color: #D4D4D4;
    position:relative;
    width: 457px;
    height: 535px;
    border: 0px solid #000000;
    border-radius: 10px;
}

#tabSelect {
    width: 100%;
    height: 49px;
    display: flex;
    padding: 0;
    background-color: var(--color-lightforestgreen);
    border: 0px solid #000000;
    border-radius: 10px 10px 0 0;
}

.tab-link {
    width: 89px;
    height: 49px;
    padding: 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-lightforestgreen);
    border: 0px solid #000000;
}

.tab-link:hover {
    cursor: pointer;
}

.tab-link.active{
    background-color: var(--color-forestgreen);
}

.tab {
    display: none;
}

#objectTab {
    display: block;
}

#objectImg {
    width: 48px;
    height: 48px;
    margin: 1px 20px 0 21px;
}

#snapImg {
    width: 36px;
    height: 48px;
    margin: 6px 26px 5px 27px;
}

#resultsImg {
    width: 30px;
    height: 19.5px;
    margin: 15px 29px 14.5px 30px;
}

.label-bar {
    justify-content: left;
    height: 42px;
    background-color: var(--color-forestgreen);
    display: flex;
    align-items: center;
    padding-left: 23px;
    font-size: 23px;
    font-family: var(--font-avenir);
    color: var(--color-white);
}

/* For the Object Tab */

.material-change-container {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.material {
    width: 62px;
    height: 62px;
    filter: brightness(50%);
}

.material:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.material.active {
    filter: brightness(100%);
}

.object-position-container {
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap
}

.attribute {
    width: 187px;
    height: 40px;
    display: flex;
    align-items: center;
}

.attribute-input {
    width: 50px;
    height: 40px;
    background-color: #B6B6B6;
    border: none;
    border-radius: 10px;
    margin: 0 12px 0 0;
    text-align: center;
}

.attribute-label {
    font-family: var(--font-avenir);
    font-size: 20px;
    color: var(--color-black);
}

.object-physics-container {
    height: 116px;
    display: flex;
    margin: 15px 0 0 0;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap
}

/* For the Snap Tab */

.interval-container {
    margin: 7px 181px 0 89px;
    pointer-events: none;
    opacity: 0.5;
}

.interval-container.active {
    pointer-events: auto;
    opacity: 1;
}

/* For the Results Tab */

.results-wrapper {
    display: flex;
    margin: 9px 24px 0 19px;
    align-items: center;
}

.result-output {
    width: 146px;
    height: 40px;
    background-color: #B6B6B6;
    border: none;
    border-radius: 10px;
    font-family: var(--font-avenir);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-output-label {
    font-family: var(--font-avenir);
    font-size: 20px;
    color: var(--color-black);
    margin: 0 0 0 13px;
}

/* Buttons inside the canvas */

#toggle,
#force {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 746px;
    background-color: #b1b1b1;
    border-radius: 30px;
    border: none;
}

#toggle:hover,
#force:hover {
    background-color: #767676;
    cursor: pointer;
}

#toggle {
    top: 54px;
}

#force {
    top: 134px;
}

/* Buttons outside canvas */

#button-container {
    margin: 62px auto 0 auto;
    width: 410px;
    height: 100px;
    top: 840px;
    left: calc(50% - 205px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
#reset-drawing:hover,
#change-drawing:hover,
#exit-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}


/* idk what */
.toggle-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
}

.toggle-label {
    font-family: var(--font-avenir);
}





