#canvas-container {
    width: 822px;
    height: 534px;
    border: 1px solid #000000;
    position: relative;
    top: 244px;
    left: calc(100vw * 65 / 1440);
}

#button-container {
    position: absolute;
    width: 410px;
    height: 100px;
    top: 840px;
    left: calc(50% - 205px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#materialSelect {
    position: absolute;
    top: 244px;
    left: calc(100vw * 918 / 1440);
    width: 457px;
    height: 535px;
    border: 1px solid #000000;
}
