

#helpText {
  display: none;
  position: absolute;
  background-color: rgb(175, 177, 175);
  border-radius: 10px;
  margin: 30px;
  width: 1200px;
  height: 700px;
  top: -50px;
  left: -800px;
  line-height: 130%;
  font-family: var(--font-optima);
  font-size: 20px;
  color: var(--color-whitesmoke);
}

#helpText.show {
  display: block;
}
