body {
    min-width: 60em;
    font-family: var(--font-avenir);
}

.lessonTitle {
    margin-top: 2.75em;
    margin-bottom: 1.35em;
    text-align: center;
    font-size: 48px;
    color: var(--color-black);
}

.lessonBox {
    margin-inline: 3.5em;
    height: 50vh;
    display: flex;
    font-family: var(--font-avenir);
    justify-content: space-evenly;
}

.lessonImgBox {
    width: 822px;
    height: 534px;
    background-color: aliceblue;
}

.labelBar {
    height: 8%;
    background-color: var(--color-maroon);
    display: flex;
    align-items: center;
}

.labelBarText {
    padding-left: 3%;
    color: white;
}

.lessonTxt {
    margin-left: 3%;
    width: 42%;
    font-size: 28px;
}

.slider {
    width: 10em;
    margin-inline: auto;
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slideButton:hover {
    cursor: pointer;
}

.l {
    opacity: .5;
}

/* For Text Animation */
.lessonTxt {
    transition: opacity 0.5s ease-in-out;
}
  
.lessonTxt.hide {
    opacity: 0;
}

/* For Image Animation */
.lessonImgBox {
    transition: opacity 0.5s ease-in-out;
}

.lessonImgBox.hide {
    opacity: 0;
}
.m-1 {
    margin-bottom: 0;
}

.halfTMargin mjx-container[jax="CHTML"][display="true"]{
    margin-top: 0em;
}

.halfBMargin mjx-container[jax="CHTML"][display="true"]{
    margin-bottom: 0.5em;
}

.pad {
    padding-left: 1em;
}

.m05 {
    margin-block: 1vw;
}

.actionText {
    color: black;
  text-decoration: none !important;
}

a:link {
    text-decoration: none!important;
}
