body {
    min-width: 60em;
}

.lessonTitle {
    margin-top: 2.75em;
    margin-bottom: 1.35em;
    text-align: center;
    font-size: 48px;
    color: var(--color-black);
}

.lessonBox {
    margin-inline: 3.5em;
    height: 50vh;
    display: flex;
    font-family: var(--font-avenir);
}

.lessonImgBox {
    width: 55%;
    height: 100%;
    background-color: aliceblue;
}

.labelBar {
    height: 8%;
    background-color: var(--color-maroon);
    display: flex;
    align-items: center;
}

.labelBarText {
    padding-left: 3%;
    color: white;
}

.lessonTxt {
    margin-left: 3%;
    width: 42%;
    font-size: var(--font-size-4xl);
}

.slider {
    width: 10em;
    margin-inline: auto;
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slideButton:hover {
    cursor: pointer;
}

.l {
    opacity: .5;
}

/* For Text Animation */
.lessonTxt {
    transition: opacity 0.5s ease-in-out;
}
  
.lessonTxt.hide {
    opacity: 0;
}