.materialSetting {
    width: 35%;
    min-width: 18em;
    height: 40em;
    outline: black;
    position:relative;

    outline-width: 0.1em;
    outline-style: solid;
}

.labelBar {
    justify-content: left;;
    height: 42px;
    background-color: #00573F;
    display: flex;
    align-items: center;
}

.MLabeltext {
    font-size: 23px;
    font-family: var(--font-avenir);
    padding-left: 5%;
    color: white;
}

.MaterialSelect {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 8px;
    height: 21%;
    overflow: auto;
}

.mat {
    height:100%;
    width: 100%;
}

.MaterialBox {
    min-width: 5em;
    height: 70%;
    background-color: white;
    border-width: 0px;
}

.kNs {
    height: 13%;
    display:flex;
    align-items: center;
}

.BoxButton{
    height: 3.1em;
    width: 4em;
    min-width: 3.5em;
    margin-left: 5%;
    border-radius: 10px;
    border-width: 0px;
    background-color: #B6B6B6;
}

.propertyRadio {
    margin-left: 5%;
    background-color: #B6B6B6;
}

.Mtext {
    font-family: var(--font-avenir);
    padding-left: 15px;
    font-size: 1.3em;
    min-width: 5em;
}

.boxLabel {
    margin-top: 1.5%;
    display: flex;
    align-items: center;
}

.RadioButton {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    border-width: 0px;
    background-color: #B6B6B6;
}

.pad {
    margin-left: 5%;
    width: 3.3em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.help {
    position:absolute;
    bottom: 1.5%;
    right: 1.5%;
    width: 2.5em;
}

.ObjectPosition {
    height: 22%;
    display: flex;
    overflow-x: auto;
}

.ObjPosCol {
    margin-left:5%;
    margin-right:5%;
    width: 50%;
    min-width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pt1 {
    padding-top: 1em;
}

.pt2 {
    padding-top: 0.5em;
}